<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.akshay.works.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginFail</display-name>
    <servlet-name>AdminLoginFail</servlet-name>
    <servlet-class>com.akshay.works.AdminLoginFail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginFail</servlet-name>
    <url-pattern>/AdminLoginFail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CNGPumpRegistration</display-name>
    <servlet-name>CNGPumpRegistration</servlet-name>
    <servlet-class>com.akshay.works.CNGPumpRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CNGPumpRegistration</servlet-name>
    <url-pattern>/CNGPumpRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CNGPumpsLogin</display-name>
    <servlet-name>CNGPumpsLogin</servlet-name>
    <servlet-class>com.akshay.works.CNGPumpsLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CNGPumpsLogin</servlet-name>
    <url-pattern>/CNGPumpsLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.akshay.works.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>com.akshay.works.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CNGPumpsLoginFail</display-name>
    <servlet-name>CNGPumpsLoginFail</servlet-name>
    <servlet-class>com.akshay.works.CNGPumpsLoginFail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CNGPumpsLoginFail</servlet-name>
    <url-pattern>/CNGPumpsLoginFail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRelated</display-name>
    <servlet-name>UserRelated</servlet-name>
    <servlet-class>com.akshay.works.UserRelated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRelated</servlet-name>
    <url-pattern>/UserRelated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCNG</display-name>
    <servlet-name>BookCNG</servlet-name>
    <servlet-class>com.akshay.works.BookCNG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCNG</servlet-name>
    <url-pattern>/BookCNG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.akshay.works.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book1</display-name>
    <servlet-name>Book1</servlet-name>
    <servlet-class>com.akshay.works.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book1</servlet-name>
    <url-pattern>/Book1</url-pattern>
  </servlet-mapping>
</web-app>